<h1>Welcome !!</h1>
<h4> * This  Blog Website Helps you to Create blog posts for reading, 
    Writing, Editing, and Deleting the posts
</h4>
<h4>
    * Description- A blog also known as "weblog",
     an informational website consisting of discrete, 
    often informal diary-style text entries (posts).
</h4>
<h4>
    * Tools Used to Develop- HTML, CSS, Node.js
    and MongoDB for data storage.
</h4>

<h2><b>.</b> Developed by - Mr.ABDUL RAHMAN </h2>
<h3> //Qualifications-  B.Tech(CSE-Aiml)//</h3>

