<div class="author">
    <h1 class="author__heading">Hi, I am Abdul Rahman.</h1>
    <p class="author__body">Web developer and content creator.</p>
    <h4> Let's Create Some  Interesting Blog Posts</h4>
  </div>
  
  <img src="/img/Img.jpg" alt="Hey!, What's up Man!!!" class="hero-image" width="981" height="528">
  
  <section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">
      <% data.forEach(post => { %>
        <li>
          <a href="/post/<%= post._id %>">
            <span><%= post.title %></span>
            <span class="article-list__date"><%= post.createdAt.toDateString() %>Date</span>
          </a>
        </li>
        <% }) %>
    </ul>


    <% if (nextPage !== null) { %>
      <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>  
    <% } %>

   
  </section>